.about
  .custom-background-2
    .container.center-align.black-text
      %br
      %br
      %h2 About Me
      %hr.black
      %p
        I am originally from Florida, I lived there for 12 years before moving to Montana with my family. I have lived in Montana for 6 years where I graduated high school in Bozeman. During high school I took up computer programming where I started to learn with Python the HTML and CSS which led to becoming an intern at Wisetail. While interning with Wisetail I expanded my knowledge on programming with MySQL and PHP. After graduating high school I was the first reciepient of the Corey Griffin Scholarship and was awarded $10,000 so that I could attend a programming school of my choice.
      %p
        After recieving the scholarship I applied at Dev Point Labs in Salt Lake City, Utah. At Dev Point Labs I learned how to code in Ruby, JavaScript, Coffeescript, HAML and many other languages as well as expand on my knowledge of HTML and CSS. Today I can build a basic Rails application from scratch, as this site is built using rails.
      %p
        During my free time I can usually be found playing computer games, hiking, skiing, or fighting in my armor. 
      
      .row
        %p  
          If youd like to know anything else feel free to contact me at any of the below
        %hr
        .col.s6.offset-s4.left-align
          %ul{:style => "list-style-type:none"}
            %li @Email: calebschade97@gmail.com
            %li 
              LinkedIn:
              %a.black-text{:href => "www.linkedin.com/in/calebschadebr", :target => "_blank"} 
                %u 
      %br
      %br
      %footer.center
        .footer-copyright
          Copyright © 2015 · All Rights Reserved · calebschade.com