.education
  .custom-background-2
    .container.center
      %br
      %br
      %h2 Education
      %hr
      .left-align.container
        %h3 DevPoint Labs, Salt Lake City, UT 
        %ul
          %li{:style => "list-style-type: disc;"}
            Attended and completed the Fall 2015 Cohort
          %li{:style => "list-style-type: disc;"} 
            Learned to build Rails applications and add multiple gems to provide login services and many other things
          %li{:style => "list-style-type: disc;"}
            Learned Ruby, PostgreSQL, JavaScript, JQuery and other languages
        %br
        %h3 Bridger Alternative/Bozeman High School, Bozeman, MT
        %ul
          %li{:style => "list-style-type: disc;"}
            August 2011 - June 2015
          %li{:style => "list-style-type: disc;"}
            Was in Astronomy Club, placed 2nd in MESDT
          %li{:style => "list-style-type: disc;"}
            Was Rotary Student of the Month for May 2014
        %br
        %br
        %footer.center
          .footer-copyright
            Copyright © 2015 · All Rights Reserved · calebschade.com