.home
  .custom-background
    .container.center.black-text
      %br
      %br
      %h2 Welcome to My Page
      %img.circle-image{:alt => "Thats Me", :src => "assets/caleb.jpg"}
      / %img.img-circle{:src => "app/assets/images/caleb.jpg"}
      %p
        My name is Caleb Schade. I am junior web developer from Bozeman, MT. I studied at Dev Point Labs for the Fall Cohort in 2015, where I learned how to build Rails Applications as well as code in JavaScript, ReactJS, and many other languages.
      %hr
      %p
        You can view some my projects on 
        %a{:href => "https://github.com/Wulfman97", :target => "_blank"} Github
        and some of my accomplishments on
        %a{:href => "https://www.linkedin.com/in/calebschade", :target => "_blank"} Linkedin.
      %br
      %br
      %footer.center
        .footer-copyright
          Copyright © 2015 · All Rights Reserved · calebschade.com