.work
  .custom-background-2
    .container.center
      %br
      %br
      %h2
        Work History/Professional Experience
      %hr
      .left-align.container
        %h3 
          %a.black-text{:href => "http://www.wisetail.com", :target => "_blank"}Wisetail
          , Bozeman, MT
        %h4 Manual QA June 2014 - August 2015 
        %ul
          %li{:style => "list-style-type: disc;"}
            Studied HTML, CSS, PHP and MySQL web development techniques
          %li{:style => "list-style-type: disc;"} 
            Complete projects on time in a focused environment
          %li{:style => "list-style-type: disc;"}
            Tested websites for bugs and errors, creating bug reports as I tested
        %br
        %h3 Big Sky Youth Empowerment, Bozeman, MT
        %h4 Participant: September 2013 - 2015
        %ul
          %li{:style => "list-style-type: disc;"}
            Participated in a highly competitive mentoring program
          %li{:style => "list-style-type: disc;"}
            Attended comprehensive workshops focused on interpersonal and life skills

       
        %br
        %br
        %footer.center
          .footer-copyright
            Copyright © 2015 · All Rights Reserved · calebschade.com
    